<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://salescenterlivingkb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>salescenterlivingkb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SALESCenterLivingKB</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SALESCenterLivingKB</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=qvzkzfbxa0.database.windows.net;Initial Catalog=LIVINGKITZBUEHL;Persist Security Info=True;User ID=MyCONVENODBUser;Password=California14;Application Name=EntityFramework" Name="Data Source=qvzkzfbxa0.database.windows.net;Initial Catalog=LIVINGKITZBUEHL;Persist Security Info=True;User ID=MyCONVENODBUser;Password=California14;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SALESCenterLivingKB.Models.ApplicationDbContext, SALESCenterLivingKB" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ServerEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=qvzkzfbxa0.database.windows.net;Initial Catalog=LIVINGKITZBUEHL;Persist Security Info=True;User ID=MyCONVENODBUser;Password=California14;Application Name=EntityFramework" Name="Data Source=qvzkzfbxa0.database.windows.net;Initial Catalog=LIVINGKITZBUEHL;Persist Security Info=True;User ID=MyCONVENODBUser;Password=California14;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SALESCenterLivingKB.Models.ServerEntities, SALESCenterLivingKB" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=qvzkzfbxa0.database.windows.net;Initial Catalog=LIVINGKITZBUEHL;Persist Security Info=True;User ID=MyCONVENODBUser;Password=California14;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ServerEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ServerModel.csdl|res://*/Models.ServerModel.ssdl|res://*/Models.ServerModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=qvzkzfbxa0.database.windows.net;Initial Catalog=LIVINGKITZBUEHL;Persist Security Info=True;User ID=MyCONVENODBUser;Password=California14;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>